<h2>Reactive: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario" >
            <!-- Campo del producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input  formControlName="producto"
                            type="text"
                            class="form-control" 
                            placeholder="Nombre del producto"
                            minlength="3" >
                    <span  *ngIf="campoEsValido('producto')"
                           class="form-text text-danger">Debe de tener almenos 3 caracteres</span>
                </div>
            </div>
            <!-- Campo del precio -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input  formControlName="precio"
                            type="number" 
                            class="form-control" 
                            placeholder="precio del producto" 
                            min="0" >
                    <span  *ngIf="campoEsValido('precio')"
                           class="form-text text-danger">El precio debe de ser mayor o igual a 0</span>
                </div>
            </div>
            <!-- Existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input  formControlName="existencias"
                            type="number" 
                            class="form-control" 
                            placeholder="Existencias del producto" >
                        <span  *ngIf="campoEsValido('existencias')"
                        class="form-text text-danger">Debe tener al menos 1 existencia del producto</span>
                </div>
            </div>
            <!-- Button submit -->
            <div class="col">
                <button type="submit" class="btn btn-primary float-end">Guardar</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valido: </span>
        <pre>{{miFormulario.valid}}</pre>

        <span>Pristine: </span>
        <pre>{{miFormulario.pristine}}</pre>
        
        <span>Touched: </span>
        <pre>{{miFormulario.touched}}</pre>
        
        <span>Valor</span>
        <pre> {{miFormulario.value | json}} </pre>

    </div>
</div>
